/* .background{
    background-image: src('https://media.istockphoto.com/photos/chondropython-picture-id1135584427?k=6&m=1135584427&s=612x612&w=0&h=xvSOT_2ydmkOZBMbJt3cF_8KKhtIbvnXYBPwgq7GE0I=');
    background-size: cover;
    z-index: 0;
} */
.aboutTitle{
    font-size: 30px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10 px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.paragraphs{
    color: white;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 10px
}
h2{
    color: white;
    font-size: 45px;
}
h3{
    color: white;
}
.contactTitle{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 40px 0px 0px 0px;
    width: 200px;
    padding: 10px 0px 10px 0px;
    margin-right: auto;
    margin-left: auto;

}
.allContacts{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{
    font-size: 35px;
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
.section{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 0px 100px 100px 100px;
    border-radius: 5px;
}
